{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <h2>About</h2>
        <hr />
        <p>
           FitJacket is a new and improved fitness app for all of YOUR workout needs!
</p> <p>
           On FitJacket you can log your workout data, get workout suggestions from our
          workout artificial intellegence, share your workout successes with friends, and
          so much more. Feel free to click the sign up button in the upper right corner to
          try our app at NO COST!!!
</p> </div>
    </div>
  </div>
</div>
{% endblock content %}