{% extends 'base.html' %}
{% block content %}
<header class="masthead bg-index2 text-white text-center py-5">
  <div class="container d-flex align-items-center flex-column pt-4">
    <h2>FitJacket</h2>
    <p>So you can run into the sunset without losing your breath <3</p>
  </div>
</header>
<div class="p-4 ms-footer">
  <div class="container">
    <div class="row mt-2">
      <div class="col mx-auto text-white text-center mb-2">
        <h4>Welcome to FitJacket!</h4>
      </div>
    </div>
  </div>
</div>
{% endblock content %}