.bg-index{
  background: url("/static/img/danewlogo.png") no-repeat
    fixed;
  background-size: 100% auto;
}
.bg-index2{
  background: url("/static/img/running.png") no-repeat
    fixed;
  background-size: 100% auto;
}
.card.bg-primary {
  background-color: #000000 !important;
}
.navbar a.nav-link {
  color: #FFFEF6;
}
.bg-dark {
  background-color: #000000 !important;
}
.ms-footer {
  background-color: #000000;
}
.ms-footer p {
  color: #7F7F7F;
  font-size: 13px;
}
.ms-footer a:hover {
  color: #B0B0FF;
  text-decoration: none;
}
.ms-footer-bottom span{
  font-size: 13px;
  line-height: 38px;
}
.ms-footer-bottom a {
  color: #bf820e;
  text-decoration: none;
}
.ms-footer-bottom a:hover {
  color: #fff;
}
.img-card-200 {
  width: 100px;
  max-height: 200px;
}
.img-card-400 {
  width: 200px;
  max-height: 400px;
}
/* THE dropdown button*/
.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}
/* A container for positioning of the dropdown button*/
.dropdown {
  position: relative;
  display: inline-block
}
/*Dropdown content which is hidden by default*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd}
.dropdown:hover .dropdown-content {display: block}
.dropdown:hover .dropbtn {background-color: #ffffff}