{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto mb-3">
        which muscle group are you trying to train? check all that apply, and our AI assistant will
        recommend you one exercise per muscle group you select.

        <table>
          {% for muscle_group in template_data.muscle_groups %}
          <tr>
            <td><input type="checkbox" id={{ muscle_group }}><label for={{ muscle_group }}>  {{ muscle_group }}</label></td>
          </tr>
          {% endfor %}

        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}