{% extends 'base.html' %}

{% block content %}
{% load static %}
    <h2> Add Friends </h2>
    <div class="p-3">
  Search Friends by Username:
</div>
    <p class="card-text">
          <form method="GET">
            <div class="row">
              <div class="col-auto">
                <div class="input-group col-auto">
                  <div class="input-group-text">
                    Search</div>
                  <input type="text" class="form-control"
                    name="search">
                </div>
              </div>
              <div class="col-auto">
                <button class="btn bg-dark text-white"
                  type="submit">Search</button>
              </div>
            </div>
          </form>
    </p>
    <div class="row">
      {% for user in template_data.users %}
      <div class="col-md-4 col-lg-3 mb-2">
        <div class="p-2 card align-items-center pt-4">
          <div class="card-body text-center">
              <form action="/friend/" method="post">
            <input id="first" type="text" name="first" value="{{ user.first_name }}"> <a> </a>
                  <input id="last" type="text" name="last" value="{{ user.last_name }}">
            <input type="submit" value="Add Friend">
            </form>
          </div>
            </div>
          </div>
      {% endfor %}
    </div>


{% endblock content %}